<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eatwhat">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/eatwhat_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/eatwhat_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EatWhat">
        <activity
            android:name=".activity.user.CollectedRestaurantActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-j8wHlNUiO7SXn0swBE26Wu7PA4q7ylQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.SlpashActivity"
            android:exported="true"
            android:theme="@style/Theme.EatWhat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyMapActivity"
            android:exported="false"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.user.MyNotesActivity"
            android:exported="false"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.user.ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.post.PostCreationActivity"
            android:exported="true"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.post.PostDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.user.MyAccountActivity"
            android:exported="true"
            android:label="My Account"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.user.SetPreferenceActivity"
            android:exported="false"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.user.Welcomepage"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.restaurant.RestaurantPageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.user.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.user.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.user.ProfileActivity"
            android:exported="true"
            android:label="My Profile"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.user.ReviewHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EatWhat.NoActionBar" />
    </application>

</manifest>